# --- Python cache ---
__pycache__/
*.pyc

# --- Environnements virtuels ---
venv/
.env/
*.env

# --- Fichiers sensibles ---
client_secret_*.json

# --- Datasets / images ---
dataset/
*.jpg
*.jpeg
*.png
*.csv
*.zip

# --- Fichiers data / modèles ---
*.xlsx
*.h5
*.pt

# --- Dossiers input/output générés ---
input/
output/

# --- JSON générés ---
memory.json

# --- OS files ---
.DS_Store
